
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/_head :: _head('Школа красоты - ' + ${title})}"></head>
<body>
<header th:replace="~{fragments/_header :: _header}"></header>

<main class="main-content">
    <div th:replace="~{__${content}__}"></div>
</main>

<footer th:replace="~{fragments/_footer :: _footer}"></footer>

<script th:src="@{/js/image-handler.js}" defer></script>
<script th:src="@{/js/cart.js}" defer></script>
<script th:src="@{/js/promocode.js}" defer></script>
<script th:src="@{/js/discount.js}" defer></script>
</body>
</html>